* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: #141b1e;
}

nav {
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
}

nav li {
  text-decoration: none;
  list-style: none;
  animation: drop-in 0.5s ease-in-out;
}

nav li a {
  text-decoration: none;
  color: #abbbc7;
  font-size: 1.3rem;
  transition: 0.3s;
}

nav li a:hover {
  color: #dbf2fe;
  transition: 0.3s;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home div {
  font-size: 2.5rem;
  color: #dbf2fe;
  text-align: left;
  width: 70vw;
}

.text {
  align-self: left;
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: typing 0.3s steps(20, end), blink-caret 0.75s step-end;
  animation-delay: 0.6s;
}

.text2 {
  opacity: 0;
  align-self: left;
  width: 78%;
  overflow: hidden;
  white-space: nowrap;
  animation: typing2 0.5s steps(40, end), blink-caret 0.75s step-end;
  animation-delay: 1s;
}

.home p {
  font-size: 1.3rem;
  color: #abbbc7;
  animation: fade-in 1s;
  animation-delay: 1.5s;
  opacity: 0;
}

.home button {
  background-color: #dbf2fe;
  border: none;
  color: #141b1e;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  animation: slide-in 1s;
  animation-delay: 1.9s;
}

.home button:hover {
  background-color: #81f5af;
}

.home button a {
  text-decoration: none;
  color: #141b1e;
}

.home img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  color: #dbf2fe;
  line-height: 2.2;
}

.about h2 {
  font-size: 3rem;
  margin: 1rem 0 5rem 0;
}

.about p {
  font-size: 1.5rem;
}

.icons {
  margin-top: 5rem;
}

.icons svg {
  margin: 0 2rem 0 2rem;
}

.git-link a {
  text-decoration: none;
  color: #dbf2fe;
  cursor: pointer;
}

.git-link a:hover {
  color: #81f5af;
}

.work {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  color: #dbf2fe;
  line-height: 2.2;
  margin: 0 0 10rem 0;
}

.work h2 {
  font-size: 3rem;
  margin: 5rem 0 5rem 0;
}
/* triangle in bottom to scrool to home page */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 0 auto;
  width: 80vw;
  height: 100%;
  transition-duration: 0.3s;
}

.gallery img {
  width: 400px;
  border-radius: 5px;
  transform: translateX(0px);
  transition-duration: 0.3s;
}

.gallery p {
  font-size: 1.5rem;
  padding-top: 4rem;
}

.gallery div {
  transition-duration: 0.3s;
}
.gallery div:hover {
  transform: rotate(5deg);
  transition-duration: 0.3s;
}

.image-one,
.image-two {
  background-size: contain;
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  color: #253237;
  background-color: #fff;
}

.contacts h2 {
  font-size: 3rem;
  padding: 0 0 10rem 0;
}

input[type="text"],
select,
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #253237;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.name,
.email {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #253237;
  border-radius: 4px;
}

.name:focus,
.email:focus,
.message:focus {
  border: 1px solid #81f5af;
  outline: none;
}

.name {
  margin-bottom: 6px;
}

/* Style the submit button with a specific background color etc */
button[type="submit"] {
  background-color: #253237;
  font-weight: 600;
  font-size: 1.3rem;
  color: #dbf2fe;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:disabled {
  background-color: #bebebe;
  color: #0c0c0c;
  cursor: not-allowed;
}

.container button:hover {
  background-color: #81f5af;
  color: #141b1e;
  transition-duration: 0.3s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:focus {
  background-color: #81f5af;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 20px;
  height: 50vh;
  width: 60vw;
  margin: 0 auto;
}
.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(172, 188, 202, 0.5);
  filter: blur(5px);
  margin: -20px;
}

.error {
  color: red;
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  color: #dbf2fe;
  margin: 3rem 0 1rem 0;
}
footer p {
  margin-right: 10px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 78%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .gallery {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

/* Landscape */
@media screen and (max-height: 400px) {
  .about {
    width: 90vw;
    height: 100vh;
    margin-bottom: 15rem;
  }

  .contacts {
    width: 90vw;
    height: 100%;
  }
  .container {
    width: 90vw;
    height: 100vh;
  }
}

@media screen and (max-width: 420px) {
  body {
    overflow: auto;
  }
  body.open {
    overflow: hidden;
  }
  .line {
    min-width: 40px;
    min-height: 4px;
    background: #dbf2fe;
    margin-top: 6px;
    transition-duration: 0.3s;
    border-radius: 3px;
  }
  .line.open {
    background: #dbf2fe;
    transition-duration: 0.3s;
  }
  .line.open.first {
    transform: translateY(250%) rotateZ(45deg);
  }
  .line.open.second {
    transform: scaleX(0);
  }
  .line.open.third {
    transform: translateY(-250%) rotateZ(-45deg);
  }
  nav {
    position: fixed;
    z-index: 2;
    margin: auto;
    width: 100%;
    display: flex;
    border-bottom: none;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    color: #c47dd0;
  }
  nav ul {
    justify-content: space-evenly;
    height: 100vh;
    align-self: start;
    transition: all 0.3s ease-out;
  }

  .nav-links {
    position: relative;
    width: 100%;
    background: #253237;
    flex-direction: column;
    pointer-events: none;
    clip-path: circle(5px at 100% -5%);
    -webkit-clip-path: circle(5px at 100% -5%);
    transition: all 0.3s ease-out;
  }
  .nav-links.open {
    height: 100vh;
    pointer-events: all;
    align-items: center;
    clip-path: circle(1000px at 100% -1%);
    -webkit-clip-path: circle(1000px at 100% -1%);
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 2rem;
    font-weight: 600;
    color: #dbf2fe;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
  li.fade {
    opacity: 1;
  }

  .home {
    text-align: center;
  }

  .home img {
    display: none;
  }

  .about {
    width: 90vw;
    height: 100%;
    margin-bottom: 5rem;
  }
  .work {
    width: 90vw;
    height: 100%;
    margin: 0 auto;
  }
  .work h2 {
    margin-top: 0rem;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .gallery a {
    width: auto;
  }

  .gallery p {
    padding: 0;
  }

  .gallery img {
    width: 100%;
    height: 100%;
  }

  .contacts {
    width: 100vw;
    height: 100vh;
    margin-top: 10rem;
  }

  .triangle-bottom-right {
    display: none;
  }

  .contacts h2 {
    padding: 0 0 5rem 0;
  }

  input[type="text"],
  select,
  textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #253237;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .name,
  .email {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #253237;
    border-radius: 4px;
  }

  .name {
    margin-bottom: 6px;
  }

  /* Style the submit button with a specific background color etc */
  button[type="submit"] {
    background-color: #dbf2fe;
    font-weight: 600;
    font-size: 1.3rem;
    color: #0c0c0c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #bebebe;
    color: #0c0c0c;
    cursor: not-allowed;
  }

  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 20px;
    width: 90vw;
  }
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(128, 126, 128, 0.5);
    filter: blur(5px);
    margin: -20px;
  }

  .error {
    color: red;
    margin: 5px;
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    color: #dbf2fe;
    margin: 3rem 0 1rem 0;
  }
  footer p {
    margin-right: 10px;
  }
}
