* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141b1e;
}

nav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
}

nav li {
  text-decoration: none;
  list-style: none;
  animation: drop-in 0.5s ease-in-out;
}

nav li a {
  text-decoration: none;
  color: #abbbc7;
  font-size: 1.3rem;
  transition: 0.3s;
}

nav li a:hover {
  color: #dbf2fe;
  transition: 0.3s;
}

.logo {
  display: none;
  position: absolute;
  width: 30%;
}

.footer p {
  display: flex;
  justify-content: center;
  color: #dbf2fe;
  margin: 0 auto;
}

/* Home page button styles */
.button {
  --purple: #db07d1;
  --pink: #f2056f;
  --blue: #61dafb;

  appearance: none;
  border: solid 1px #dbf2fe;
  cursor: pointer;
  background-color: #141b1e;
  color: #141b1e;
  border-radius: 10px;
  margin-top: 3rem;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 70px;
  padding: 0.5rem;
}
.button a {
  text-decoration: none;
  color: #dbf2fe;
}

.shapes {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 60px;
  background: linear-gradient(
    60deg,
    var(--blue) 0%,
    #d6cbf6 30%,
    var(--pink) 70%
  );
}

.blush {
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 80px;
  filter: blur(20px);
}

.blush.pink {
  right: -5px;
  background: var(--purple);
}

.blush.blue {
  left: -5px;
  background: var(--blue);
}

.shapes .container {
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  width: calc(100% + 200px);
  pointer-events: none;
}

.shapes canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .button {
    margin: 2rem auto;
    opacity: 0.9;
  }
  .shapes .container {
    position: absolute;
    top: -200px;
    bottom: -10px;
    left: -200px;
    right: -200px;
    width: calc(100% + 200px);
    pointer-events: none;
  }

  .shapes canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 480px) {
  .desctop-nav {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .isOpen {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }

  .isOpen li a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: #dbf2fe;
    transition-duration: 0.3s;
    font-size: 2rem;
  }

  .isOpen ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #141b1e;
    line-height: 3;
    justify-content: center;
    align-items: center;
  }
}
