* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141b1e;
}

nav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 50%;
}

nav li {
  text-decoration: none;
  list-style: none;
  animation: drop-in 0.5s ease-in-out;
}

nav li a {
  text-decoration: none;
  color: #abbbc7;
  font-size: 1.3rem;
  transition: 0.3s;
}

nav li a:hover {
  color: #dbf2fe;
  transition: 0.3s;
}

.logo {
  display: none;
  position: absolute;
  width: 30%;
}

.footer p {
  display: flex;
  justify-content: center;
  color: #dbf2fe;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .desctop-nav {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .isOpen {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    z-index: 1;
  }

  .isOpen li a {
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #dbf2fe;
    transition-duration: 0.3s;
  }

  .isOpen ul {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #141b1e;
    justify-content: space-evenly;
  }
}
