.main {
  background-color: #141b1e;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  color: #dbf2fe;
  line-height: 2;
}

.homeText {
  margin: 6rem 0;
}

.homeText1 {
  font-size: 3rem;
}

.hexagons1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 35%;
  right: 40px;
  opacity: 30%;
}
.hexagons2 {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 75%;
  left: 450px;
  opacity: 30%;
  transform: scale(1.4);
}

.footer p {
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  justify-content: center;
  color: #dbf2fe;
  margin: 0 auto;
}

.letter {
  animation: letter 2s ease-in-out;
  animation-delay: 1s;
}

@keyframes letter {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

@media screen and (max-width: 480px) {
  .main {
    height: 100%;
  }

  .home {
    width: 80%;
    height: 100vh;
    text-align: center;
    line-height: 1.5;
  }
  .homeText {
    margin: 6rem 0 0 0;
    z-index: 1;
  }
  .hexagons1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 35%;
    left: -30px;
    opacity: 30%;
  }
  .hexagons2 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 80%;
    left: 100px;
    opacity: 30%;
    transform: scale(1);
  }
  .letter {
    animation: none;
  }
}
