.main {
  background-color: #141b1e;
}

.work {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: #dbf2fe;
  line-height: 2.2;
}

.work h2 {
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.gallery p {
  font-size: 1.5rem;
}

.github a {
  text-decoration: none;
  color: #dbf2fe;
  transition: 0.3s;
}

.github a:hover {
  color: #81f5af;
  transition: 0.3s;
}

.lines {
  display: none;
}

@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 5rem;
    margin-bottom: 5rem;
    height: 100%;
  }
  .github {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .github h2 {
    align-items: center;
  }
  .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3px;
    background-color: #dbf2fe;
  }
}
